<main>
    <div id="bossContent">
        <header id="bossHeader">
            <h2 id="bossTitle">Redirection</h2>
        </header>

        <!-- redicrect from bossHome page to other title's sub pages-->
        <ul>
            <button class="submiteButton" type="button" onclick="gotoSellers()">Sellers Page</button><br>
            <button class="submiteButton" type="button" onclick="gotoInventory()">Inventory Page</button><br>
        </ul>

        <div id="profitContent">
            <h4>Click the button below to show or hide the profit of the company:</h4>
            <button onclick="showOrHideProfit()" type="button">The profit</button>
            <div id="profitShowOrHide" style="display">
                {{profit}}
            </div>
        </div>

		<div id="logoutContent">
			<a id="logoutLink" href="auth/logout">Log out</a>
		</div>          
    </div>
</main>