
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" href="../../public/css/typo.css" />
	<link rel="stylesheet" href="../../public/css/me.css" />
	<link rel="stylesheet" href="../../public/css/session.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
	
</head>

<body>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	
	<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
		<div class="ui container">
			<div class="ui inverted secondry stackable menu">
				<h2 class="ui teal header item">PCD Tiles</h2>
				<a href="/" class="m-item item">Home</a>
				<a href="/inventory" class="m-item item">Add Inventory</a>
				<a href="/inventory/all" class="m-item item">All Inventory</a>
				<a href="/allOrder" class="m-item item">All Order</a>
				<a href="/private" class="m-item item">Profile</a>
				<div class="right m-item item">
					<p id="helloUser" class="hidden"></p>
					<a href="/login" id="LoginBtn" class="m-item item button">Login</a>
					<a href="/register" id="SignUpBtn" class="m-item item button"></i>Sign Up</a>
					<a href="/logout" id="SignOutBtn" class="hidden">Log out</a>

				</div>


			</div>
		</div>
	</nav>
	{{{body}}}
	<!--fotter-->
	<script src="../../public/js/session.js"></script>
	<footer class="ui inverted vertical segment m-padded-tb-massive">
		<div class="ui center aligned container">
			<div class="ui inverted section divider"></div>
			<p class="m-text-thin m-test-spaced m-opacity-tiny">Copyright ©2021- Designed by Group03 - Dixa, Yang, Edward </p>
		</div>

	</footer>
	
</body>

</html>