<main>
    <div id="inventoryContent">
		<header id="inventoryHeader">
		    <h2 id="inventoryTitle">Inventory Home Page</h2>
		</header> 
        
        <!-- redicrect from inventoryHome page to other sub pages-->
        <ul>
            <button class="submiteButton" type="button" onclick="createNewProduction()">Create New Production</button><br>
            <button class="submiteButton" type="button" onclick="viewAllProductions()">View All Productions</button><br>
            <button class="submiteButton" type="button" onclick="viewAllOrders()">View All Orders</button>
        </ul>  

		<div id="logoutContent">
			<a id="logoutLink" href="auth/logout">Log out</a>
		</div>                     
    </div>
</main>