<main>
    <div id="modifyProductContent">
		<header id="modifyProductDetails">
		    <h3 id="mpdifyProductTitle">Modify the production's information</h3>
		</header>  
    </div>

    <form id="productModify" action="/book/modify/{{id}}" method="post">
    </form>

</main>