<main>
    <div id="modifyProductContent">
		<header id="modifyProductHeader">
		    <h3 id="modifyProductTitle">Modify the production's information</h3>
		</header>  

        <form id="modifyProductForm" action="/inventory/modify/{{inventory._id}}" method="post">
            <table id="tableSection">                
                <tr>
                    <td>
                        <label for="name">Name:</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" value="{{inventory.name}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="woodType">Wood Type:</label>
                    </td>
                    <td>
                        <select id="woodType" name="woodType">
                            <option value="oad">Oak</option>
                            <option value="maple">Maple</option>
                            <option value="hickory">Hickory</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="color">Color:</label>
                    </td>
                    <td>
                        <select id="color" name="color">
                            <option value="yellow">Yellow</option>
                            <option value="red">Red</option>
                            <option value="black">Black</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="manufacture">manufacture:</label>
                    </td>
                    <td>
                        <select id="manufacture" name="manufature">
                            <option value="m1">M1</option>
                            <option value="m2">M2</option>
                            <option value="m3">M3</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="unitCost">Unit cost (per sqt): $</label>
                    </td>
                    <td>
                        <input type="number" name="unitCost" id="unitCost" value="{{inventory.unitCost}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="stock">Stock (in sqt):</label>
                    </td>
                    <td>
                        <input type="number" name="stock" id="stock" value="{{inventory.stock}}">
                    </td>
                </tr>  
                <tr>
                    <td>
                        <button id="submitButton" type="submit" value="Submit">Modify submit</button>
                    </td>
                </tr>                          
            </table>
        </form>
    </div>
</main>