<main>
    <div id="modifyOrderContent">
		<header id="modifyOrderHeader">
		    <h3 id="modifyOrderTitle">Modify the order's information</h3>
		</header>  
        
        <form id="modifyProductForm" action="/inventory/modify/{{order._id}}" method="post">
        </form>
    </div>
</main>

        