<main>
    <div id="sellerContent">
		<header id="sellerHeader">
		    <h2 id="sellerTitle">Sellers Home Page</h2>
		</header> 
        
        <!-- redicrect from bossHome page to other sub pages-->
        <ul>
            <button class="submiteButton" type="button" onclick="createNewOrder()">Create New Order</button><br>
            <button class="submiteButton" type="button" onclick="viewHistoryOrder()">View History Order</button><br>
            <button class="submiteButton" type="button" onclick="viewProduction()">View Production Information</button>
        </ul>  

		<div id="logoutContent">
			<a id="logoutLink" href="auth/logout">Log out</a>
		</div>                     
    </div>
</main>