<main>
    <div id="sellerContent">
		<header id="sellerHeader">
		    <h2 id="sellerTitle">Sellers Home Page</h2>
		</header> 
        
        <!-- redicrect from bossHome page to sellers' sub pages-->
        <ul>
            <button class="submiteButton" type="button" onclick="createNewOrder()">Create New Order</button><br>
            <button class="submiteButton" type="button" onclick="viewHistoryOrders()">View History Orders</button><br>
            <button class="submiteButton" type="button" onclick="viewProductions()">View Productions' Information</button>
        </ul>  

		<div id="logoutContent">
			<a id="logoutLink" href="auth/logout">Log out</a>
		</div>                     
    </div>
</main>