<main>
    <div id="viewOrdersListContent">
		<header id="viewOrdersList">
		    <h3 id="viewOrdersListTitle">View All Orders</h3>
		</header>   

        <div id="ordersListContent">
            {{#each order}}
                <ul>
                    <a href="/order/{{_id}}"><li>{{inventory.Product_id}}</li></a>
                </ul>
            {{/each}}


            <table id="tableSection">
                <tr>
                    <td>
                        <label for="orderID">Order's ID:</label>
                    </td>
                    <td>
                        <p id="orderID" name="orderID">{{order._id}}</p>
                    </td>
                </tr>
            </table>
        </div>




		 
    </div>
</main>