<div class="ui middle aligned center aligned grid" style="margin-top: 20px; margin-bottom:20px">
  <form id="addinventory-form" name="addInventoryForm" class="ui form" method="POST">
    <h2 class="ui dividing header">Add Qty to Buy</h2>
    <p>
      <label for='totalQty'>Qty:</label>
      <input type="number" name="totalQty" id="totalQty" placeholder="totalQty" min='1' required />
    </p>
    
    <p>
        <label for='unit_price'>Unit Price:</label>
        <input type="number" name="unit_price" id="unit_price" placeholder="Unit Price" min='1' required />
      </p>

    <p>
        <label for='shipping_cost'>Shipping Cost:</label>
        <input type="number" name="shipping_cost" id="shipping_cost" placeholder="Shipping Cost" min='1' required />
      </p>

    <p>
      <label for='deliveryDate'>Delivery Date:</label>
      <input type="date" name="deliveryDate" id="deliveryDate" placeholder="Delivery date"  required />
    </p>
    <p>
      <label for='address'>Address:</label>
      <input type="text" name="address" id="address" placeholder="address"  required />
    </p>

    <p>
      <button class="ui button"><a href="/inventory/all">Back</a></button>
      <button type="submit" id='submit-order' class="ui button">Buy</button>
    </p>
  </form>

</div>