<div class="ui middle aligned center aligned grid" style="margin-top: 20px; margin-bottom:20px">

  <form id="signup-form" name="signupForm" class="ui form" method="POST">
    <h2 class="ui dividing header">Sign In</h2>
    <p>
      <label for='email'>Email:</label>
      <input type="email" name="email" id="email" placeholder="Email" required />
    </p>

    <p>
      <label for='password'>Password:</label>
      <input type="password" name="password" id="password" placeholder="Password" required />
    </p>

    <p>
      <button type="submit" id='login-user' class="ui button">Sign in</button>
    </p>
  </form>

</div>

